In [22]:
import pandas as pd
import numpy as np

In [36]:
people = {
    "first" :["Parvez", "Sarthak", "Bala", "Tony", "Steve", np.nan, None, "NA"],
    "last" : ["Rumi", "Kumar", "Krishna", "Stark", "Rogers", np.nan, np.nan, "Missing"],
    "email" : ["parvezrumi@gmail.com", "sarthakkumar@gmail.com", "bk@gmail.com", np.nan, np.nan, np.nan, np.nan, "Missing"],
    "age" : ["22", "23", "21", "47", "110", None, None, "Missing"]
}

In [37]:
df = pd.DataFrame(people)

In [46]:
df.replace('NA', np.nan, inplace=True)
df.replace('Missing', np.nan, inplace=True)

In [50]:
df.fillna(0)

     first     last                   email  age
0   Parvez     Rumi    parvezrumi@gmail.com   22
1  Sarthak    Kumar  sarthakkumar@gmail.com   23
2     Bala  Krishna            bk@gmail.com   21
3     Tony    Stark                       0   47
4    Steve   Rogers                       0  110
5        0        0                       0    0
6        0        0                       0    0
7        0        0                       0    0

In [18]:
#pyt_cod = pd.read_excel('Python_coders.xlsx', index_col='Country')

In [26]:
#pyt_cod

In [47]:
df.dropna(axis='index', how='all', subset=['email', 'last'])

     first     last                   email  age
0   Parvez     Rumi    parvezrumi@gmail.com   22
1  Sarthak    Kumar  sarthakkumar@gmail.com   23
2     Bala  Krishna            bk@gmail.com   21
3     Tony    Stark                     NaN   47
4    Steve   Rogers                     NaN  110

In [53]:
df['age'] = df['age'].astype(float)

In [55]:
df['age'].median()

23.0